@page
@using idunno.AtProto.Authentication;
@using idunno.Bluesky.AspNet.Authentication;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome 
        @if (User is not null && User.Identity is not null && User.Identity.IsAuthenticated)
        {
            if (User.DisplayName is not null)
            {
                @User.DisplayName
            }          
            else if (User.Handle is not null)
            {
                @User.Handle!.Value
            }
            else if (User.Did is not null)
            {
                @User.Did!.Value
            }
        }
    </h1>
</div>
