@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome 
        @if (User is not null && User.Identity is not null && User.Identity.IsAuthenticated)
        {
            string? givenName = User.FindFirst(ClaimTypes.GivenName)?.Value;

            if (givenName is not null)
            {
                @givenName
            }
            else
            {
                @User.Identity.Name
            }
        }
    </h1>
</div>
