name: CI Build

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
      - '.github/**'
  pull_request:
    branches:
      - 'main'

permissions:
  contents: read

env:
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  COVERAGE_REPORT: ${{ github.workspace}}/coveragereport

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: read
      pull-requests: write
      checks: write
    steps:
    - name: 'Harden Runner'
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: 'Checkout'
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
        persist-credentials: false
 
    - name: 'Setup .NET SDK'
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
      with:
        dotnet-version: | 
          9.0.x
          10.0.x

    - name: 'Reoprt SDK version'
      run : dotnet --info

    - name: 'Build'
      id: build
      run: dotnet build --configuration Debug

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: build-artifacts
        path: |
          src/**/idunno.*.nupkg
          src/**/idunno.*.dll
          src/**/idunno.*.deps.json
          src/**/idunno.*.xml
        retention-days: 5

    - name: 'Test'
      id: test
      run: dotnet test --no-build --restore --collect:"XPlat Code Coverage" --logger junit --settings .runsettings

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
      if: always()
      with:
        files: "test/**/TestResults.xml"

    - name: Upload Test Artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: test-results
        path: "test/**/TestResults.xml"
        retention-days: 5

    - name: 'Generate Full Code Coverage Reports'
      uses: danielpalme/ReportGenerator-GitHub-Action@f3c6b3f8a29686284ef7a7cf6dccb79a01d98444 # 5.4.18
      with:
        reports: "test/**/coverage.cobertura.xml"
        targetdir: "${{ env.COVERAGE_REPORT }}"
        reporttypes: "Cobertura,MarkdownSummaryGithub" 
        verbosity: "Info" 
        title: "Code Coverage" 
        tag: "${{ github.run_number }}_${{ github.run_id }}"
        toolpath: "reportgeneratortool"
        license: ${{ secrets.REPORT_GENERATOR_LICENSE }}

    - name: Append coverage report to build summary
      shell: bash
      run: cat ${COVERAGE_REPORT}/SummaryGithub.md >> $GITHUB_STEP_SUMMARY

    - name: Upload Code Coverage Results
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: coverage-results
        path: | 
          ${{ env.COVERAGE_REPORT }}
          test/**/coverage.cobertura.xml
        retention-days: 5

